<div class="jumbotron">
  <h1 class="display-3">Hello, {{userName}}!</h1>
  <p class="main">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="main">
    <a class="btn btn-lg btn-success" ng-href="#/">Login<span class="glyphicon glyphicon"></span></a>
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="#/">Create New Employee<span button="glyphicon glyphicon"></span></a>
  </p>
</div>
